<!DOCTYPE html>
<html lang="fr">
  <head>
   <%- include('util/head.ejs') %>
    
  </head>

  <body>
    <%- include('util/header.ejs') %>
    <div class="row">
      <% for(let prod of produit){ %>

    <div class="col-lg-4 col-sm-6" style="margin-left: 0px;">
      <div class="card-service text-center">
        <div class="">
          <img src="images/<%= prod.productId.image %>" width="200px" height="160px" alt="">
        </div>
        <h3>SSD Cloud Hosting</h3>
        <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
      </div>
      <form action="/detail" name="" method="post"class="col-md-12" >
        <input type="hidden" name="id" value="<%= prod._id %>">
        <button type="submit" class="btn btn-primary col-md-12 mb-1">Retirer Panier</button>
      </form>

    </div>
  <% } %>
  </div>
  <form action="/commande" method="POST" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button type="submit" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 btn1">Commander</button>
    <input type="hidden" name="proId" value="">
</form>
    <%- include('util/footer.ejs') %>
    <%- include('util/script.ejs') %>
 
   
  </body>
</html>
